:root {
 box-sizing: border-box;
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #333;
 

}

html{
  scroll-behavior: smooth;
  scrollbar-width: none;

}

body.no-cursor {
  cursor: none;
}

body {
  background-color: #fff;
  color: #000;
  transition: background-color 1s ease, color 1s ease;
}

body.light-mode {
  background-color: #000;
  color: white;

}